<div ng-controller="ctrlCalender" style="padding: 10px;">

  <div id='calendar'></div>

<p>
  <br/>
  <input type="button" value="检查目前未完事项：">
</p>

<div class="modal fade" id="eventModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">事件编辑</h4>
      </div>
      <div class="modal-body">

        <form style="text-align: center;" role="form">
          <div style="display: inline-block;min-width: 250px;">
            <input ng-model="dealEvent.uuid" class="form-control" type="text" name="txtEvent1"
                   class="form-control"  placeholder="uuid"  >
            <input ng-model="dealEvent.id" class="form-control" type="text" name="txtEvent2"
                   class="form-control"  placeholder="id"  >
            <input ng-model="dealEvent.title" class="form-control" type="text" name="txtEvent3"
                   class="form-control"  placeholder="title"  >
            <input ng-model="dealEvent.allDay" class="form-control" type="text" name="txtEvent4"
                   class="form-control"  placeholder="allDay"  >
            <input ng-model="dealEvent.start" class="form-control" type="text" name="txtEvent5"
                   class="form-control"  placeholder="start"  >
            <input ng-model="dealEvent.end" class="form-control" type="text" name="txtEvent6"
                   class="form-control"  placeholder="end"  >
            <input ng-model="dealEvent.editable" class="form-control" type="text" name="txtEvent7"
                   class="form-control"  placeholder="editable"  >
            <input ng-model="dealEvent.finished" class="form-control" type="text" name="txtEvent8"
                   class="form-control"  placeholder="finished"  >
            <input ng-model="dealEvent.public" class="form-control" type="text" name="txtEvent8"
                   class="form-control"  placeholder="public"  >
            <input ng-model="dealEvent.owner" class="form-control" type="text" name="txtEvent8"
                   class="form-control"  placeholder="owner"  >
            <input ng-model="dealEvent._exState" class="form-control" type="text" name="txtEvent8"
                   class="form-control"  placeholder="_exState"  >
            <input ng-model="dealEvent.description" class="form-control" type="text" name="txtEvent8"
                   class="form-control"  placeholder="description"  >
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button ng-click="saveEvent()"  type="button" class="btn btn-primary"> 保存 </button>
        <button ng-click="closeEvent()" type="button" class="btn btn-default"> 关闭 </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>