<div ng-controller="ctrlCalender" style="padding: 10px;">

  <div id='calendar'></div>

<p>
  <br/>
  <input type="button" value="检查目前未完事项：">
</p>

<div class="modal fade" id="eventModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">事件编辑</h4>
      </div>
      <div class="modal-body">

        <form style="text-align: center;" role="form">
          <div style="display: inline-block;min-width: 250px;">
            <input ng-model="dealEvent.uuid" class="form-control" type="text" name="txtEvent1" placeholder="uuid"  >
            <input ng-model="dealEvent.id" class="form-control" type="text" name="txtEvent2" placeholder="id"  >
            <input ng-model="dealEvent.title" class="form-control" type="text" name="txtEvent3" placeholder="title"  >
            <div  class="checkbox">
              <label>
                <input ng-model="dealEvent.allDay" type="checkbox" name="txtEvent4"> allDay
              </label>
            </div>
            <input ng-model="dealEvent.start" class="form-control" id="datetimepicker1" type="text" >
            <input ng-model="dealEvent.end" class="form-control" id="datetimepicker2" type="text" name="txtEvent6" placeholder="end"  >
            <div  class="checkbox">
              <label>
                <input ng-model="dealEvent.finished" type="checkbox" name="txtEvent7"> finished
              </label>
            </div>
            <div  class="checkbox">
              <label>
                <input ng-model="dealEvent.public" type="checkbox" name="txtEvent8"> public
              </label>
            </div>
            <input ng-model="dealEvent.owner" class="form-control" type="text" name="txtEvent9"  placeholder="owner"  >
            <input ng-model="dealEvent._exState" class="form-control" type="text" name="txtEvent10"  placeholder="_exState"  >
            <input ng-model="dealEvent.description" class="form-control" type="textarea" name="txtEvent11"  placeholder="description"  >
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button ng-click="saveEvent()"  type="button" class="btn btn-primary"> 保存 </button>
        <button ng-click="delEvent()"  type="button" class="btn btn-primary"> 删除 </button>
        <button ng-click="closeEvent()" type="button" class="btn btn-default"> 关闭 </button>
      </div>


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>

<script type="text/javascript">
  $('#datetimepicker1').datetimepicker( {lang:'ch', format:"Y-m-d H:i" } );
  $('#datetimepicker2').datetimepicker( {lang:'ch', format:"Y-m-d H:i" } );
</script>